In [1]:
# Prototyping code for the GBMDataset class.
sys.path.append("../../galaxy_computer_vision_with_EFIGI_data")

In [6]:
# Setting up a dataset.
import pandas as pd
import lightgbm as lgb
feature_data = pd.read_csv("../datasets/EFIGI_SIFT_feature_data.csv")
train_features = feature_data.iloc[:, 2:257]
train_labels = feature_data["label"]
train_dataset = lgb.Dataset(train_features, label=train_labels)

In [7]:
feature_data

,pgc_id,SIFT_0,SIFT_1,SIFT_2,SIFT_3,SIFT_4,SIFT_5,SIFT_6,SIFT_7,SIFT_8,...,SIFT_247,SIFT_248,SIFT_249,SIFT_250,SIFT_251,SIFT_252,SIFT_253,SIFT_254,SIFT_255,label
0,PGC0000212,6.0,1.0,0.0,0.0,0.0,0.0,2.0,24.0,3.0,...,1.0,1.0,1.0,1.0,9.0,15.0,4.0,3.0,3.0,2
1,PGC0000218,16.0,6.0,1.0,0.0,0.0,1.0,2.0,19.0,3.0,...,0.0,0.0,0.0,12.0,46.0,4.0,0.0,0.0,0.0,2
2,PGC0000243,11.0,0.0,0.0,0.0,0.0,0.0,7.0,72.0,2.0,...,0.0,0.0,0.0,9.0,62.0,22.0,0.0,0.0,0.0,1
3,PGC0000255,19.0,0.0,0.0,0.0,0.0,1.0,7.0,19.0,3.0,...,0.0,0.0,1.0,6.0,20.0,9.0,0.0,0.0,0.0,2
4,PGC0000281,5.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,9.0,...,76.0,36.0,2.0,8.0,3.0,1.0,3.0,70.0,82.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,PGC0072806,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2
4454,PGC0072922,9.0,0.0,0.0,0.0,0.0,0.0,14.0,33.0,1.0,...,0.0,0.0,2.0,3.0,14.0,28.0,0.0,0.0,0.0,2
4455,PGC0072927,25.0,4.0,2.0,1.0,5.0,2.0,5.0,21.0,16.0,...,0.0,2.0,1.0,16.0,49.0,33.0,4.0,2.0,4.0,2
4456,PGC0072930,3.0,0.0,0.0,0.0,0.0,0.0,5.0,36.0,1.0,...,0.0,0.0,0.0,5.0,36.0,4.0,0.0,0.0,0.0,2
4457,PGC0073177,9.0,0.0,0.0,0.0,0.0,0.0,19.0,25.0,2.0,...,0.0,0.0,0.0,0.0,10.0,4.0,1.0,0.0,0.0,3

In [8]:
train_features

,SIFT_1,SIFT_2,SIFT_3,SIFT_4,SIFT_5,SIFT_6,SIFT_7,SIFT_8,SIFT_9,SIFT_10,...,SIFT_246,SIFT_247,SIFT_248,SIFT_249,SIFT_250,SIFT_251,SIFT_252,SIFT_253,SIFT_254,SIFT_255
0,1.0,0.0,0.0,0.0,0.0,2.0,24.0,3.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,9.0,15.0,4.0,3.0,3.0
1,6.0,1.0,0.0,0.0,1.0,2.0,19.0,3.0,1.0,0.0,...,0.0,0.0,0.0,0.0,12.0,46.0,4.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,7.0,72.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.0,62.0,22.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,7.0,19.0,3.0,0.0,0.0,...,0.0,0.0,0.0,1.0,6.0,20.0,9.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,8.0,9.0,0.0,0.0,...,107.0,76.0,36.0,2.0,8.0,3.0,1.0,3.0,70.0,82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4454,0.0,0.0,0.0,0.0,0.0,14.0,33.0,1.0,0.0,0.0,...,0.0,0.0,0.0,2.0,3.0,14.0,28.0,0.0,0.0,0.0
4455,4.0,2.0,1.0,5.0,2.0,5.0,21.0,16.0,1.0,1.0,...,0.0,0.0,2.0,1.0,16.0,49.0,33.0,4.0,2.0,4.0
4456,0.0,0.0,0.0,0.0,0.0,5.0,36.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,36.0,4.0,0.0,0.0,0.0
4457,0.0,0.0,0.0,0.0,0.0,19.0,25.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,4.0,1.0,0.0,0.0

In [11]:
# Train a model on the dataset.
model = lgb.train(param, train_dataset, 100)

NameError: name 'param' is not defined

In [10]:
# Show a few predictions (on the train dataset--just to test out the LGBM API)
import numpy as np
[np.argmax(prob) for prob in model.predict(train_features)][0:10]

NameError: name 'model' is not defined

In [19]:
# Trying out the Scikit API for LGBM
# Might be easier to perform evaluation using this.
# Cross validate and show accuracy scores.

from lightgbm import LGBMClassifier

# The data to fit
train_features = feature_data.iloc[:, 2:257]
# Labels
train_labels = feature_data["label"]

# The SKLearn compatible object
lgbmc = LGBMClassifier()

from sklearn.model_selection import cross_validate

# The scoring metrics.
# Just use accuracy, as this is a multi class classification problem.
scoring = ["accuracy"]
cv_results = cross_validate(lgbmc, train_features, train_labels, cv=5, scoring=scoring)

In [21]:
cv_results

{'fit_time': array([1.7911377 , 1.32827997, 1.22500134, 1.73087311, 1.25021267]),
 'score_time': array([0.01399827, 0.01400018, 0.01500106, 0.01300073, 0.02200103]),
 'test_accuracy': array([0.74439462, 0.75224215, 0.7455157 , 0.74859708, 0.74298541])}

Initial training accuracy is ~74% per fold, indicating a model with room for improvement.

In [22]:
# Show a confusion matrix for a single train/test split.
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

# The data to fit
train_features = feature_data.iloc[:, 2:257]

# Labels
train_labels = feature_data["label"]

# The model
lgbmc = LGBMClassifier()
X_train, X_test, y_train, y_test = train_test_split(train_features, train_labels)
lgbmc.fit(X_train, y_train)
y_predict = lgbmc.predict(X_test)
confusion_matrix(y_test, y_predict)

array([[  8,   8,  57,   0,   0],
       [  8,  15, 112,   0,   0],
       [  7,  12, 812,   1,   0],
       [  1,   0,  55,   0,   0],
       [  1,   0,  18,   0,   0]], dtype=int64)

In [24]:
train_labels.value_counts()

2    3315
1     537
0     289
3     248
4      69
Name: label, dtype: int64